@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* Fonts */
$font-stack: 'Roboto Mono, Rubik';
$font-one: 'Rubik';
$font-two: 'Roboto Mono';

/* Colors */
$primary-color: #212832; 
$secondary-color: #EEEEEE;
$complementary-color1: #00adb4;
$complementary-color2: #393D46;